.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  &-item {
  }
}

.hero__grid {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-row-gap: 5rem;
}
