.header {
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem;
  align-items: center;
  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 12rem;
    margin-right: 4rem;
  }

  &__nav {
  }

  &__link {
    color: var(--color-grey-dark);
    opacity: 0.8;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: var(--color-secondary);
    }

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__right {
  }
}
