body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
  color: #666276;
}

.heading-1 {
  display: inline-block;
  font-size: 6rem;
}

.heading-2 {
  color: #1f1b2d;
  font-size: 3.2rem;
  line-height: 1.5;
  letter-spacing: 1px;
}
